
/* Estilos de Pagina-Bimbo.php*/

.titulo {
    font-size: 30pt;
    text-shadow: 5px 3px 2px #93968f, -3px 6px 5px #58d1e3;
}

.imagen {
    width: 15%;
    height: 15%;
}

.parr0 {
    font-family: Florence, Cursive;
    color: rgb(20, 109, 136); 
    margin-left: 10%; 
    margin-bottom: 0%;
}

.parr1 {
    font-family: Florence, Cursive;
    color: rgb(20, 109, 136); 
    margin-left: 10%;
}

.parr2 {
    font-family: Florence, Cursive;
    color: rgb(20, 109, 136); 
    margin-left: 10%;
}

.parr3 {
    font-family: Florence, Cursive;
    color: rgb(20, 109, 136); 
    margin-left: 10%;
}

.parr4 {
    font-family: Florence, Cursive;
    color: rgb(20, 109, 136); 
    margin-left: 10%;
}

.parr5 {
    font-family: Florence, Cursive;
    color: rgb(20, 109, 136); 
    margin-left: 10%;
}

.parr6 {
    font-family: Florence, Cursive;
    color: rgb(20, 109, 136); 
    margin-left: 10%;
}

.parr7 {
    font-family: Florence, Cursive;
    color: rgb(20, 109, 136); 
    margin-left: 10%;
}

.parr8 {
    font-family: Florence, Cursive;
    color: rgb(20, 109, 136); 
    margin-left: 10%;
}

.parr9 {
    font-family: Florence, Cursive;
    color: rgb(20, 109, 136); 
    margin-left: 10%;
}

.parr10 {
    font-family: Florence, Cursive;
    color: rgb(20, 109, 136); 
    margin-left: 10%;
    margin-bottom: 2%;
}

.frase {
    font-family: Tahoma;
    color: rgb(255, 255, 255);
    margin-top: 5%;
    font-size: large;
    background-color: rgb(37, 36, 138);
    background-size: 30%;
    padding: 10px;
    box-shadow: 0 0 10px 4px #4a47ff, 0 0 10PX 20px #b9ebff;
}

.fra1 {
    font-family: tahoma;
    color: rgb(255, 255, 255);
    font-size: small;
}



